.donut-container {
  height: 220px;
}

.donut {
  position: relative;

  h2 {
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    margin-top: -0.65em;
    font-size: 3.6em;
    padding-left: 8px;

    sup {
      font-size: 52%;
    }
  }

  svg {
    transform: rotate(-90deg);
  }

  .circle_animation {
    stroke-dasharray: 440; // this value is the pixel circumference of the circle
    stroke-dashoffset: 440;
  }
}

.stat-charts.columns {
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 5%;
  }

  .column {
    .inner {
      padding: 10%;

      @media (max-width: 768px) {
        padding: 5%;
      }
    }

    &:first-child {
      h2,
      h6 {
        color: $htp_yellow;
      }

      .circle_animation {
        animation: donutOne 2s ease-out forwards;
      }
    }

    &:nth-child(2) {
      h2,
      h6 {
        color: $htp_brown;
      }

      .circle_animation {
        animation: donutOne 2s ease-out forwards;
      }
    }

    &:nth-child(3) {
      h2,
      h6 {
        color: $htp_teal;
      }

      .circle_animation {
        animation: donutThree 2s ease-out forwards;
      }
    }

    &:nth-child(4) {
      h2,
      h6 {
        color: $htp_red;
      }

      .circle_animation {
        animation: donutFour 2s ease-out forwards;
      }
    }
  }
}

@keyframes donutOne {
  to {
    stroke-dashoffset: 440 - 16 * 4.4;
  }
}

@keyframes donutThree {
  to {
    stroke-dashoffset: 440 - 8 * 4.4;
  }
}

@keyframes donutFour {
  to {
    stroke-dashoffset: 440 - 56 * 4.4;
  }
}
