.whythepersecuted-content {
  max-width: 780px;
  margin: 60px auto;
  padding: 0 20px;

  h3 {
    font-weight: 600;
  }
}

.video-image.womantalking {
  background-image: url(../images/woman-talking.jpg);
}

.columns.stats {
  margin-top: 20px;
  margin-bottom: 20px;

  .column {
    display: flex;

    .inner {
      padding: 9%;

      img {
        width: 65%;
        margin: 2.5%;
      }

      h5 {
        margin-bottom: 0;
      }
    }

    &:first-child {
      .inner {
        background: $htp_light_green;
      }
    }

    &:nth-child(2) {
      .inner {
        background: $htp_dark_green;
      }
    }

    &:nth-child(3) {
      .inner {
        background: $htp_brown;
      }
    }
  }
}

.img-mankid {
  background-image: url(../images/why-the-persecuted-answering-gods-call.jpg);

  @media (max-width: 768px) {
    min-height: 70vw;
  }
}

.whythepersecuted-slider-container {
  position: relative;
}

.whythepersecuted-slider-heading {
  position: absolute;
  top: 6vw;
  width: 100%;
  z-index: 1;

  @media (max-width: 500px) {
    font-size: 2.5em;
    top: 10vw;
  }
}

.whythepersecuted-slider {
  .flickity-page-dots {
    bottom: 25px;

    .dot {
      background: $white;
    }
  }

  .flickity-button {
    background: none;
  }

  .flickity-button-icon {
    fill: $white;
  }

  .carousel-cell {
    padding: 16vw 10vw 10vw;

    @media (max-width: 500px) {
      padding-top: 100px;
    }

    .textbox {
      max-width: 690px;
      margin: 0 auto 20px;
      border: 1px solid;
      padding: 40px;
    }

    .is-larger {
      font-size: 1.1em;
      margin: 30px 0 0;
    }
  }
}

@media (min-width: 769px) {
  .alternating-image-text.alternate .columns > .column {
    padding: 10% 7%;
  }
}

.img-manreading {
  background-image: url(../images/man-reading.jpg);
  background-position: center 70%;
}

.img-mosque {
  background-image: url(../images/mosque.jpg);
  padding: 6vh 10vw 40vh;

  .whythepersecuted-content {
    max-width: 460px;
  }
}
