.prayernetwork-container {
  padding: 80px 20px;
  max-width: 640px;
  margin: 0 auto;
}

.prayernetwork-join {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 20px;

  .inner {
    max-width: 200px;

    @media (min-width: 1200px) {
      max-width: 300px;
      width: 300px;

      h5 {
        font-size: 2.4em;
      }
    }

    input {
      width: 100%;

      &[type=submit] {
        @extend .is-primary;
      }
    }

    .mc-field-group {
      margin-bottom: 0.4em;
    }
  }
}

.img-praybox {
  background-image: url(../images/pray-box.jpg);

  @media (max-width: 768px) {
    min-height: 60vw;
  }
}
