.aboutus-container {
  padding: 80px 20px;
  max-width: 780px;
  margin: 0 auto;

  :last-child {
    margin-bottom: 0;
  }
}

.img-team {
  background-image: url(../images/about-us-box.jpg);

  @media (max-width: 768px) {
    min-height: 70vw;
  }
}

.aboutus-message {
  .column:first-child {
    background: $htp_dark_white;

    .inner {
      padding: 3vw 10%;
    }
  }
}

.img-alley {
  background-image: url(../images/alley.jpg);
  padding: 13vw 5vw;
}
