.home-header {
  background-image: url(../images/alley.jpg);
  padding: 20vh 5vw;
  position: relative;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1 {
    max-width: 920px;
    margin: 0 auto;
    position: relative;
  }

  a {
    margin-top: 11px;
    display: inline-block;
    position: relative;
  }
}

.home-extinction {
  background: url(../images/pray-people.jpg) no-repeat center bottom / 100%;
  padding: 80px 20px 15vw;

  h3 {
    font-weight: 600;
  }

  .container > p {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
}

.pale-boxes {
  padding-top: 20px;

  .column {
    padding: 1.2em;
  }

  .pale-box {
    background: rgba(255, 255, 255, 0.67);
    border: 1px solid #c3c3c3;
    padding: 2.5em 2.5em 2.2em;

    @media (max-width: 768px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1em;
      padding-right: 1em;
    }

    img {
      height: 111px;
      margin-bottom: 1em;
    }
  }
}

.home-millions {
  padding: 70px 0;

  h3 {
    font-weight: 400;
    max-width: 90%;
    font-size: 2em;
    margin: 0 auto;
  }

  .column {
    padding: 2%;

    &:first-child {
      border-right: 1px solid #979797;
    }
  }
}

.home-carousel {
  padding: 0 14%;

  .carousel-cell {
    margin-right: 10px;
    height: 0;
    padding-bottom: 100%;

    .cell-content {
      background: url(../images/red-blob.svg) no-repeat center center / contain;
      padding: 12%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        margin-bottom: 0;
        line-height: 0.8;

        @media (min-width: 769px) {
          font-size: 10vw;
        }

        @media (min-width: 1400px) {
          font-size: 12em;
        }

        span {
          font-size: 29%;
          display: block;
          line-height: 0.9;
        }
      }

      p {
        max-width: 80%;
      }
    }

    &:nth-child(2) {
      .cell-content {
        background-image: url(../images/blob-teal.svg);
      }
    }

    &:nth-child(3) {
      .cell-content {
        background-image: url(../images/blob-dark-green.svg);
      }
    }
  }

  .flickity-page-dots {
    margin-left: 0;
    left: 0;
  }

  .flickity-button {
    background: none;
  }
}

.flickity-prev-next-button {
  &.next {
    right: 0;
  }

  &.previous {
    left: 0;
  }
}

.img-desertpeople {
  background-image: url(../images/desert-people.jpg);
}

.img-womanchild {
  background-image: url(../images/homepage-story.jpg);
}

.img-addressing-the-need {
  background-image: url(../images/addressing_the_need.jpg);
}

.img-kids {
  background-image: url(../images/kids.jpg);
}

.home-getinvolved {
  padding: 80px 20px;

  h1 {
    max-width: 490px;
    margin: 0 auto 0.3em;
  }
}
