.post-container {
  margin: 0 auto 100px;
  max-width: 740px;
  padding: 20px 20px 0;
}

.content {
  blockquote {
    background: $htp_light_brown;
    border: none;
    padding: 5%;

    p {
      font-family: $heading_slab_font;
      font-size: 1.8em;
      text-align: center;
      color: $htp_dark_green;
    }
  }
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.content blockquote p:last-child:first-child {
  margin-bottom: 0;
}

.navigation {
  font-family: $heading_slab_font;
}

.next-post,
.nav-previous {
  float: right;
}

.prev-post,
.nav-next {
  float: left;
}

.navigation::after {
  content: '';
  clear: both;
  display: block;
}

.posts-list {
  .story-grid {
    margin: 60px 0;
  }

  .navigation {
    margin-bottom: 50px;
  }
}
