@media (max-width: 600px) {
  html[lang="en-US"] {
    margin-top: 0 !important;
  }
}

body {
  padding-top: $header_height;

  @media (max-width: 768px) {
    padding-top: $mobile_header_height;
  }

  @media (max-width: 600px) {
    #wpadminbar {
      display: none;
    }
  }

  &.admin-bar {
    .header--fixed {
      top: $admin_bar_height;

      @media (max-width: 782px) {
        top: 46px;
      }

      @media (max-width: 600px) {
        top: 0;
      }
    }
  }
}

@media (min-width: 769px) {
  .show-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

a,
span,
.nav li {
  transition: 0.2s all ease-out;
}

.is-flex {
  display: flex;
}

.columns {
  margin: 0;
}

.content .page-header {
  padding: 10vh 10vw 5vh;

  &.has-bg-img {
    padding: 10vh 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
  }

  h1 {
    margin: 0;
    font-weight: 600;

    @media (min-width: 1250px) {
      font-size: 4vw;
    }
  }
}

.primary-container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px 80px;
}

.fill-bg {
  background: $htp_black no-repeat center center / cover;
}

.center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .section-title {
  background: $htp_dark_white;
  text-align: center;
  line-height: 1.35;
  margin: 0 !important;
  padding: 7vw 6vw;

  @media (min-width: 769px) {
    font-size: 2.5vw;
    padding-left: 17vw;
    padding-right: 17vw;
  }
}

.js-carousel {
  .carousel-cell {
    width: 100%; /* full width */
  }
}

.flickity-viewport {
  transition: height 0.2s;
}

.content .flickity-page-dots {
  margin-left: 0;
}

.is-bg-teal {
  background: $htp_teal;
}

.is-absolute {
  position: absolute;
}

.alternating-image-text {
  .columns {
    margin: 0;

    & > .column {
      padding: 7%;

      @media (max-width: 768px) {
        &.fill-bg {
          padding: 0 0 50%;
        }
      }

      @media (min-width: 769px) {
        font-size: 1.6vw;
      }

      h5 {
        margin-bottom: 0;

        & + p {
          margin-top: 1em;
        }
      }

      @media (min-width: 1230px) {
        p {
          font-size: 18px;
        }
      }
    }

    * {
      color: $white;
    }

    hr {
      background: $white;
    }

    .arrow-link::after {
      background-image: url(../images/link-arrow-white.svg);
    }

    .is-text-dark {
      * {
        color: $text;
      }

      hr {
        background: $text;
      }

      .arrow-link {
        color: $text;

        &::after {
          background-image: url(../images/link-arrow.svg);
        }
      }
    }

    &:first-child {
      background: $htp_yellow;
    }

    &:nth-child(2) {
      background: $htp_brown;
    }

    &:nth-child(3) {
      background: $htp_light_green;
    }

    &:nth-child(4) {
      background: $htp_dark_green;
    }

    @media (min-width: 769px) {
      &:nth-child(2n) {
        & > .column:first-child {
          order: 1;
        }
      }
    }
  }

  &.alternate {
    .columns {
      &:first-child {
        background: $htp_red;
      }
    }
  }
}

.video-image {
  display: block;
  padding-bottom: 56.25%;
  background: $text no-repeat center center / cover;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    opacity: 0.8;
    transition: 0.2s all ease-out;
    background: url(../images/play-icon-white.svg) no-repeat center center / contain;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}
